{%extends 'base.html'%}
{% block title%}About{% endblock title%}
{% block body%}
<h1></h1>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <h3 class="bg-dark text-center text-white">Contact Us</h3>
      <form action="/about" method="post">{% csrf_token %}

        <div class="form-group">
          <input
            type="text"
            name="name"
            placeholder="Enter Your Name"
            class="form-control"
            required
          />
        </div>
        <div class="form-group mt-2">
          <input
            type="email"
            name="email"
            placeholder="Enter Your Email"
            class="form-control"
            required
          />
        </div>
        <div class="form-group mt-2">
          <input
            type="tel"
            name="phone"
            placeholder="Enter Your mobile number"
            class="form-control"
            required
          />
        </div>
        <div class="form-group mt-2">
          <label>How can I help You?</label>
          <textarea class ="form-control" name="desc" cols="10" rows="5"></textarea>
        </div>
<div class="d-grid gap-2 mt-4">
    <button class="btn btn-dark" type="submit">Submit</button> 

</div>
      </form>
    </div>
    
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock body %}
